/* =============
    Base
============= */
$accentviolet: #612B8A;
$white:#FFFFFF;
$black:#000000;
$navyblue:#0B203D;
$pink:#F3B1E5;
$greygold:#DFD5CB;
$beige:#BAADA4;
$darkblue:#06101E;
$pastelleyellow:#F0DDAB;
$backgroundgrey:#626262;

