/* =============
    Base
============= */
$accentviolet: #612B8A;
$white:#FFFFFF;
$black:#000000;
$navyblue:#0B203D;
$pink:#F3B1E5;
$greygold:#DFD5CB;
$beige:#BAADA4;
$darkblue:#06101E;
$pastelleyellow:#F0DDAB;
$backgroundgrey:#626262;

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
@mixin flex(){
    display: flex;
    flex-direction: column;
    @include lg{
        display: flex;
        flex-direction: row;
    }
    
}
@mixin grid-three(){
    display: grid;
    grid-template-columns: 1fr;
    @include lg{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@mixin grid-two(){
    display: grid;
    grid-template-columns: 1fr;
    @include lg{
        grid-template-columns: 1fr 1fr;
    }
}
@mixin grid-four(){
    display: grid;
    grid-template-columns: 1fr;
    @include lg{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
 ul{
    .box{
        background-color: $darkblue;
        padding: 16px;
        border-radius:16px;
    }
    .box-color{
        background-color: $darkblue;
        padding:16px;
        gap: 88px;
    }
    &.three-column{
        @include grid-three();
    }

    &.two-column{
        @include grid-two();

    }
    &.four-column{
        @include grid-four();
    }
    li{
        &.two-column{
            @include grid-two();
    
        }
    }
 }
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
    background-color: $navyblue;
    margin: 32px 0px 0px 0px;
    .box-gap{
        gap: 88px;
    }
}

