#hero{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    ol{
        list-style: none;
        padding: 0;
        margin: 0;
        grid-template-areas:
        "imgone";

        .imgone{
            height: 374px;
            grid-area: imgone;
            background-image: url(../img/SharkHypAir1_mobile.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        .imgtwo{
            height: 590px;
            grid-area: imgtwo;
            background-image:url(../img/SharkHypAir1.png);
            background-repeat: repeat;
            background-size: cover;
            background-position: center center;
            display: none;
        }
        @include lg{
            list-style: none;
            padding: 0;
            margin: 0;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "imgtwo";
            .imgone{
                display: none;
            }
            .imgtwo{
                display: grid;
            }
        }
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        gap: 8px;
        .txt-pink{
            color: $pink; 
         }
        
        @include lg{
            position: absolute;
            bottom: 0;
            right: 0;

        }
    }
}