#overview{
    ul{
        li{
            img{
                width: 100%;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    text-align: center;
                }
            }
        }
    }
}