#reviews{
    background-image: linear-gradient($black, $navyblue);
    margin: 0;
    padding-top: 132px;
    position: relative;
    a{
        display: flex;
        flex-direction: column;
        align-items: left;
        .right{
            display: flex;
            flex-direction: column;
            
        }
        
        
    }
}