/* =============
    Navigation
============= */
header{
    background-color: $black;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include lg{
        display: flex;
        flex-direction: column;
    }
        

    #burger-btn{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position:relative;
        div{
            height: 4px;
            width: 31px;
            background-color: $white;
            border-radius:100px;
        } 
    }
    #top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        a{
            text-decoration: none;
        }
        
        div{
            display: flex;
            align-items: center;
            gap: 16px;
            input{
                background-color: $navyblue;
                color: $white;
                border: 0 solid;
                border-radius: 100px;
                height: 40px;
                width: 294px;
                padding: 16px;
                display: none;
                
    
                @include lg{
                    display: inline;
                }
            }
            ::placeholder{color: $white;}
            img{
               width: 24px; 
               height: 24px;
               display: none;
               @include lg{
                display: inline;
               }
            }

        }
        

    }
    #burger-container{
        display: block;
        position: relative;
        z-index: 3;
        @include lg{
            display: none;
        }
    }
    #main-menu{
        @media only screen and (max-width: 600px) {
            
            background-color: $darkblue;
            transition:.3s;
            width: 33%;
            position: absolute;
            top: 0;
            right: -100%;
            z-index: 1;



            &.show-menu{
                right:0;
                transition:.3s;
            }
        }
    
        
        ol{
            padding: 0;
            li{

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                p{
                    margin: 0;
                }
                a{
                    text-decoration: none;
                }
                @include lg{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: fill;
                }
            }
            
        }
        @include lg{
            display: inline;
            justify-content: space-between;
            width: 100%;
        }
        
    }


    
}